
.contenedorGeneral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #26001B;
    align-items: center;

    min-height: 100vh;
}

.contenedorLista{
    padding: 1rem;
    display: flex;
    flex-direction: column;

    background-color: #FF005C;
    border-radius: 1rem;

    min-width: 50%;
    max-width: 70%;
}

.listado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textoCart{
    color: #FFF600;
    
}
.textoDescriptivoCart{
    color: #FFF600;
    font-size: 1.5rem;
    
}
.imgCart{
    width: 10rem;
    height: 6rem;
    margin: 1rem;
    border-radius: 1rem;
}

.botoneraCart{
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 3rem;
    width: 50%;
}